<!DOCTYPE html>
<html lang="en">

<head>


    <%- include ("../reference/head.ejs") %>

</head>

<body>

    <div class="myticket-wrap">
       
        
        
        <div class="myticket-title">
            <div class="myticket-title-box">
                <h5 class="myticket-h5">MY TICKET</h5>
            </div>
            <div class="my-circle"></div>
        </div> 
         <%for(var i=0;i < ticket.length; i++){%>
            <div class="my-ticket-box">
                <div class="my-ticket-title">
                    <h6><%=concert[0].name%></h6>
                </div>
                
                <div class="my-ticket-poster">
                    <div class="my-ticker-poster-img">
                        <img src="<%=concert[0].poster_img%>" alt="poster">
                    </div>
                </div>
                
                <div class="my-ticket-intro">
                    <ul class="my-ticket-intro1">
                            <li><%=concert[0].date%> | <%=concert[0].time%></li>
                            <li><%=ticket[i][2]%>번</li>
                            <li><%=concert[0].place%></li>
                            
                    </ul>
                    <ul class="my-ticket-intro2">
                            <li>티켓번호<span><%=ticket[i][2]%></span> </li>
                            <li>결제수단<span>카드결제</span> </li>
                            <li>결제금액<span><%=ticket[i][4]%>원</span> </li>
                    </ul>
                    <div class="my-ticket-intro3">
                        현장 본인인증 후 사용가능 한 티켓입니다.
                    </div>
                </div>
            </div>
         <%}%>
         
    
        
        
    </div>
    

</body>

</html>