<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./reference/head.ejs") %>

    <script>
        
        function info(concert){
            console.log("info suc")
            location.href = "/concert/index?concert="+concert;
        }

    </script>
</head>

<body>

    <div class="header" style="background:tan;">
        <%- include ("./reference/header.ejs") %>
    </div>

    <div class="header-box">
        <!--메뉴바 pixed 공간 확보 박스-->
    </div>

    <!--header-slide-->
    <header id="carouselExampleCaptions" class="carousel slide visual" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" id="img-slide">
            <div class="carousel-item active">
                    <img src="http://tkfile.yes24.com/Upload2/Display/202009/20200925/wel_mv_000.jpg/dims/quality/70/"
                        class="d-block" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="http://tkfile.yes24.com/Upload2/Display/202011/20201106/wel_mv_21344c.jpg/dims/quality/70/"
                    class="d-block" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="http://tkfile.yes24.com/Upload2/Display/202011/20201102/wel_mv_37843.jpg/dims/quality/70/"
                    class="d-block" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </a>
    </header>

    <!--모바일 메뉴 스타일-->
    <div class="d-flex text-center m-menu">
        <div class="p-2 w-25">
            <a href="javascript:menu('0')">
                <i class="fas fa-headphones-alt fa-2x"></i>
                <span>공연</span>
            </a>
        </div>
        <div class="p-2 w-25">
            <a href="javascript:menu('1')">
                <i class="far fa-images fa-2x"></i>
                <span>전시</span>
            </a>
        </div>
        <div class="p-2 w-25">
            <a href="javascript:menu('2')">
                <i class="fas fa-running fa-2x"></i>
                <span>스포츠</span>
            </a>
        </div>
        <div class="p-2 w-25">
            
            <%if(!loggedname){%>
                <a href="/login">
                    <i class="fas fa-ticket-alt fa-2x"></i>
                    <span>로그인</span>
                </a>
                <%}else{%>
                <a href="/logout">
                    <i class="fas fa-ticket-alt fa-2x"></i>
                    <span>로그아웃</span>
                </a>
                <%}%>
        </div>
    </div>

    <!--모바일 공간박스-->
    <div class="container-fluid m-box">
    </div>


    <!-- Page Content -->
    <div class="container my-3">


        <!-- Page Features -->
        <div class="row">

            <div class="col-12 title_bg">
                <h3>Ticket Zone</h3>
            </div>

            <%for(var i = 0; i < concert.length; i++){%>
              <div class="col-lg-3 col-md-4 col-6 mb-4">
                <div class="card h-20 card-radius card-box">
                    <a href="javascript:info('<%=concert[i].id%>')">
                        <img class="card-img-top" src="<%=concert[i].poster_img%>" alt="">
                        <div class="card-body card-title">
                            <p><strong><%=concert[i].name%></strong></p>
                            <div class="card-text fs-6">
                            <span><%=concert[i].date%></span>
                            <small><%=concert[i].place%></small>
                            </div>
                        </div>
                  </a>
                </div>
              </div>
            <%}%>
            
            <div class="col-lg-3 col-md-4 col-6 mb-4">
                <div class="card h-20 card-radius card-box">
                <a href="#">
                        <img class="card-img-top" src="https://ticketimage.interpark.com/Play/image/large/20/20007937_p.gif"
                            alt="cats">
                        <div class="card-body card-title">
                            <p><strong>뮤지컬 〈몬테크리스토〉 10주년 기념공연</strong></p>
                            <span>2020.11.17 - 2021.03.07</span>
                            <small>LG아트센터</small>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <!-- /.row -->



    </div>
    <!-- /.container -->


    <!-- 인기상품 레이아웃 test 작업중 -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h4 class="text-center">신규티켓</h4>
                    <div class="row my-3 jumbotron-wrap"
                        style="background-color:#fff; padding-top:1rem; padding-bottom:1rem;">
                        <div class="jumbotron-img">
                            <img src="https://ticketimage.interpark.com/Play/image/large/20/20010593_p.gif"
                                width="70%" alt="...">
                        </div>
                        <div class="jumbotron-body">
                            <div class="badge bg-danger">신규오픈</div>
                            <a href="#">
                                <h5>뮤지컬 〈스웨그에이지 : 외쳐, 조선!〉</h5>
                                <!--p=모바일 노출-->
                                <p><strong>[오픈]</strong>21.01.12(화)</p>
                                <span><strong>공연일시</strong> 2020.11.19~2021.02.21</span>
                                <span><strong>공연장소</strong> 두산 아트센터 연강홀</span>
                            </a>
                        </div>
                    </div>
                    <div class="row g-0 my-3" style="background-color:#fff; padding-top:1rem; padding-bottom:1rem;">
                        <div class="jumbotron-img">
                            <img src="https://ticketimage.interpark.com/Play/image/large/20/20010646_p.gif"
                                width="70%" alt="...">
                        </div>
                        <div class="jumbotron-body">
                            <div class="badge bg-danger">신규오픈</div>
                            <a href="#">
                                <h5 class="">MUSICAL AUDITION CONCERT 내가 광이 날 상인가</h5>
                                <!--p=모바일 노출-->
                                <p><strong>[오픈]</strong>21.01.12(화)</p>
                                <span><strong>공연일시</strong> 2020.11.19~2021.02.21</span>
                                <span><strong>공연장소</strong> 두산 아트센터 연강홀</span>
                            </a>
                        </div>
                    </div>
                    <div class="row g-0 my-3" style="background-color:#fff; padding-top:1rem; padding-bottom:1rem;">
                        <div class="jumbotron-img">
                            <img src="https://ticketimage.interpark.com/Play/image/large/20/20011269_p.gif"
                                width="70%" alt="...">
                        </div>
                        <div class="jumbotron-body">
                            <div class="badge bg-danger">신규오픈</div>
                            <a href="#">
                                <h5 class="">데이비드 자민展</h5>
                                <!--p=모바일 노출-->
                                <p><strong>[오픈]</strong>21.01.12(화)</p>
                                <span><strong>공연일시</strong> 2020.11.19~2021.02.21</span>
                                <span><strong>공연장소</strong> 두산 아트센터 연강홀</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-center event-padding">
                    <h4 class="text-center">EVNET</h4>
                    <div class="col-12 my-3">
                        <a href="#">
                            <img src="http://ticketimage.interpark.com/TCMS4/Main/202008/MainBarBanner_MainBarBanner3_fb2311be-6ec9-48bc-9293-3dbd2a456d94.jpg"
                                width="150%" class="img-thumbnail" alt="...">
                        </a>
                    </div>
                    <div class="col-12 my-3">
                        <a href="#">
                            <img src="http://ticketimage.interpark.com/TCMS4/Main/202006/MainBarBanner_MainBarBanner3_375e92f1-63df-4633-9212-e63fc149609e.gif"
                                width="150%" class="img-thumbnail" alt="...">
                        </a>
                    </div>
                    <div class="col-12 my-3 m-none">
                        <a href="#">
                            <img src="http://ticketimage.interpark.com/TCMS4/Main/202011/MainBarBanner_MainBarBanner3_f74570f8-fc6d-4cb9-b41f-52b3ff38d0be.gif"
                                width="150%" class="img-thumbnail" alt="...">
                        </a>
                    </div>
                    <div class="col-12 my-3 m-none">
                        <a href="#">
                            <img src="http://ticketimage.interpark.com/TCMS4/Main/202011/MainBarBanner_MainBarBanner3_f74570f8-fc6d-4cb9-b41f-52b3ff38d0be.gif"
                                width="150%" class="img-thumbnail" alt="...">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>