<!DOCTYPE html>
<html lang="en">

<head>


    <%- include ("../reference/head.ejs") %>
    <script type="text/javascript" src="../vendor/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="../vendor/bootstrap/js/qrcode.js"></script>

</head>

<script type="text/javascript">
    
</script>
<body>
    
    <div class="header">
        <%- include ("../reference/header.ejs") %>
    </div>


<div class="body">
    <div class="myticket-wrap">
       
        
        
        <div class="myticket-title">
            <div class="myticket-title-box">
                <a href="javascript:history.back();">&lt;</a>
                <h5 class="myticket-h5">MY TICKET</h5>
            </div>
            <div class="my-circle"></div>
        </div> 
         
         <div class="my-ticket-box">
             <div class="my-ticket-title">
                 <h6><%=ticket[0].c_name%></h6>
             </div>
             
             <div class="my-ticket-poster">
                 <div class="my-ticker-poster-img">
                     <img src="<%=ticket[0].poster_img%>" alt="poster">
                 </div>
             </div>
             
             <div class="my-ticket-intro">
                 <ul class="my-ticket-intro1">
                    <li id="qrcode"></li>
                    <li><%=ticket[0].date%> | <%=ticket[0].time%></li>
                    <li><%=ticket[0].seat%></li>
                    <li><%=ticket[0].place%></li>
                 </ul>
                 <ul class="my-ticket-intro2">
                         <li>
                             <a href="#">티켓번호&nbsp;
                                 <img id="try2" src="/img/try2.png" width="15px;">
                            </a>
                             <div class="toggle"><%=ticket[0].ticketId%></div>
                        </li>

                         <li>결제금액<span><%=ticket[0].price%>원</span> </li>
                         <li>소유자<span><%=ticket[0].user%></span> </li>                         
                 </ul>
                    <div class="my-ticket-intro3">
                        <!-- <form method="POST" action="/qrcode"> -->
                        <div style="display: none;">
                            <input type="text" name="ticketId" value="<%=ticket[0].ticketId%>">
                            <input type="text" name="name" value="<%=ticket[0].name%>">
                        </div>
                        <p>현장 본인인증 후 사용가능 한 티켓입니다.</p>
                        <button class="button" onclick="makeCode('<%=ticket[0].ticketId%>', '<%=ticket[0].name%>')">인증하기</button>
                        <!-- </form> -->
                        
                        <form method="POST" action="/ticket/transfer" style="margin-top: 0.5rem;">
                        <div style="display: none;">
                            <input type="text" name="ticketId" value="<%=ticket[0].ticketId%>">
                        </div>
                        <button class="button" type="submit">양도하기</button>
                        </form>
                    </div>
             </div>
         </div>
         
        
    </div>
</div>

    <script>
        var i =1;


        $(document).ready(function(){
            
            $("#qrcode").hide();

            $(".toggle").hide();
            // $("ul > li:first-child a").next().show();
            $("ul li a").click(function(){
                var rota = i*180;
                $(this).next().slideToggle();
                $("ul li a").not(this).next().slideUp();
                    $(this).find('img').css('transform','rotate('+rota+'deg)');
                    i++
                return false;
            });
        });

        
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            width : 150,
            height : 150
        });
        
        function makeCode (ticketId, name) {	
            $("#qrcode").show();
            var elText = "{ticketId : "+ticketId+",name : "+name+"}";
            
            
            qrcode.makeCode(elText);
        }
        $("#qrcode > img").css({"margin":"auto"});
</script>

    </script>
 
    <!-- Footer -->
    <footer class="footer">
        <%- include ("../reference/footer.ejs") %>
    </footer>      

</body>

</html>