<!DOCTYPE html>

<html>


<script>
    function view() {
        location.href = "/ticket/view";
    }
</script>

  <body>

        <h2>티켓 조회</h2>
        <table style="text-align: center;width: 80%;">
            <tr>
                <td>concertId</td>
                <td>ticketId</td>
                <td>date</td>
                <td>time</td>
                <td>seat</td>
                <td>discount</td>
                <td>discountRate</td>
                <td>fee</td>
                <td>cancleDate</td>
                <td>canclaFee</td>
            </tr>       
                <tr>
                    <td><%=concertId%></td>
                    <td><%=ticketId%></td>
                    <td><%=data[0]%></td>
                    <td><%=data[1]%></td>
                    <td><%=data[2]%></td>
                    <td><%=data[3]%></td>
                    <td><%=data[4]%></td>
                    <td><%=data[5]%></td>
                    <td><%=data[6]%></td>
                    <td><%=data[7]%></td>
                </tr>
        </table>



  </body>
</html>
