<!DOCTYPE html>
<html lang="en">

<head>

    <%- include ("../reference/head.ejs") %>
    <script>
        var x = "<%=x%>".split(",");
        var y = "<%=y%>".split(",");
        var time = "<%=time_rap%>".split(",");        
        var t1;
        var t2;
    
        jQuery(document).ready(function(){
            $(document).mousedown(function(e){      //마우스 클릭시 click에 좌표 입력
                var tt = new Date().getTime();
                
                if(!t1){
                    x.push(e.pageX);
                    y.push(e.pageY);
                    time.push("0");
                    console.log("x = ", x , "y =", y, "time = 0");
                    t1= tt;
                    $('#x').val(x);
                    $('#y').val(y);
                    $('#time_rap').val(time);
                    console.log(t1);
                }else{
                    t2 = tt;
                    console.log("t2 = ",t2)
                    console.log("t2-t1 = ",t2-t1)
                    x.push(e.pageX);
                    y.push(e.pageY);
                    time.push(t2-t1);
                    $('#x').val(x);
                    $('#y').val(y);
                    $('#time_rap').val(time);
                    console.log("x = ", x , "y =", y, "time = ", time);
                    t1= t2;
                }
            });
        })
    </script>


</head>

<body>

    <div class="pay-wrap">
  
        <div class="pay-title">
            <div class="pay-title-box">
                <ul>
                    <li><img src="<%=concert[0].poster_img%>"alt=""></li>
                    <li>
                        <h6><%=concert[0].name%></h6>
                        <p><%=date%> | <%=time%> | <%=seat%></p>
                    </li>
                </ul>
            </div>
        </div>   
        
        <div class="pay-coupon-bg">
            <div class="pay-coupon">
                <h5 class="pay-h5">할인쿠폰</h5>
                <div class="coupon-list">
                    <ul>
                        <li>쿠폰정보표시란</li>
                        <li><button>쿠폰</button></li>
                    </ul>
                </div>
            </div>   
        </div>   
        
        <div class="pay-body-bg">
            <div class="pay-body">
                <h5 class="pay-h5">결제수단</h5>
                <ul class="pay-tab">
                     <li id="tab1" class="btnCon">
                        <a class="btn first" href="#tab1">무통장입금</a>
                        <div class="tabCon">
                            <select name="bank">
                                <option value="basic">은행</option>
                                <option value="basic">국민은행</option>
                                <option value="basic">신한은행</option>
                                <option value="basic">기업은행</option>
                                <option value="basic">우리은행</option>
                            </select>
                        </div>
                    </li>
                    <li id="tab2" class="btnCon">
                        <a class="btn first" href="#tab2">신용카드</a>
                        <div class="tabCon" >
                            <select name="bank">
                                <option value="basic">은행</option>
                                <option value="kb">국민은행</option>
                                <option value="sh">신한은행</option>
                                <option value="com">기업은행</option>
                                <option value="we">우리은행</option>
                            </select>
                            <select name="hal">
                                <option value="basic">할부</option>
                                <option value="basic">1개월</option>
                                <option value="basic">2개월</option>
                                <option value="basic">3개월</option>
                                <option value="basic">4개월</option>
                            </select>
                        </div>
                    </li>
                    
                </ul>           
            </div>
        </div>
        <form method="POST" action="/concert/regist">
            <div class="pay-bottom-bg">
            
                <div class="pay-bottom">
                    <h5 class="pay-h5">결제예정금액</h5>
                    <ul class="pay">
                        <li>할인</li>
                        <li><%=price%> 원</li>
                    </ul>
                </div>

                <div>
                    <input type="text" id="concertId" name="concertId" value="<%=concert[0].id%>">
                    <input type="text" id="ticketId" name="ticketId" value="<%=seat%>">
                    <input type="text" id="x" name="x" value="<%=x%>">
                    <input type="text" id="y" name="y" value="<%=y%>">
                    <input type="text" id="time_rap" name="time_rap" value="<%=time_rap%>">

                </div>
                
                <button type="submit">결제하기</button>
                
            </div>
        </form>
        
    </div>
    
    <script>
    location.href = "#tab1";
    </script>

</body>

</html>