<!DOCTYPE html>
<html lang="en">

<head>

    <%- include ("../reference/head.ejs") %>

    <script>
        var x = "<%=x%>".split(",");
        var y = "<%=y%>".split(",");
        var time = "<%=time_rap%>".split(",");
        var t1;
        var t2;

        jQuery(document).ready(function () {
            $(document).mousedown(function (e) {      //마우스 클릭시 click에 좌표 입력
                var tt = new Date().getTime();

                if (!t1) {
                    x.push(e.pageX);
                    y.push(e.pageY);
                    time.push("0");
                    console.log("x = ", x, "y =", y, "time = 0");
                    t1 = tt;
                    $('#x').val(x);
                    $('#y').val(y);
                    $('#time_rap').val(time);
                    console.log(t1);
                } else {
                    t2 = tt;
                    console.log("t2 = ", t2)
                    console.log("t2-t1 = ", t2 - t1)
                    x.push(e.pageX);
                    y.push(e.pageY);
                    time.push(t2 - t1);
                    $('#x').val(x);
                    $('#y').val(y);
                    $('#time_rap').val(time);
                    console.log("x = ", x, "y =", y, "time = ", time);
                    t1 = t2;
                }
            });
        })
    </script>


</head>

<body>

    <!-- header gnb -->
    <div class="header">
        <%- include ("../reference/header.ejs") %>
    </div>

    <!-- body(background css) -->
    <div class="body">

        <div class="pay-wrap">

            <div class="pay-title">
                <div class="pay-title-box">
                    <ul>
                        <li><img src="<%=concert[0].poster_img%>" alt=""></li>
                        <li>
                            <h6>
                                <%=concert[0].name%>
                            </h6>
                            <p>
                                <%=date%> | <%=time%> | <%=seat%>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pay-coupon-bg">
                <div class="pay-coupon">
                    <h5 class="pay-h5">할인쿠폰</h5>
                    <div class="coupon-list">
                        <ul>
                            <li>쿠폰정보표시란</li>
                            <li><button>쿠폰</button></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="pay-body-bg">
                <div class="pay-body">
                    <h5 class="pay-h5">결제수단</h5>
                    <ul class="pay-tab">
                        <li id="tab1" class="btnCon">
                            <a class="btn first" href="#tab1">네이버페이</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pay-bottom-bg">

                <div class="pay-bottom">
                    <h5 class="pay-h5">결제예정금액</h5>
                    <ul class="pay">
                        <li>할인</li>
                        <li>
                            <%=price%> 원
                        </li>
                    </ul>
                </div>

                <button class="button" id="naverPayBtn">결제하기</button>
                <script src="https://nsp.pay.naver.com/sdk/js/naverpay.min.js"></script>
                <script>
                    var oPay = Naver.Pay.create({
                        "mode": "production", // development or production
                        "clientId": "u86j4ripEt8LRfPGzQ8" // clientId
                    });

                    //직접 만드신 네이버페이 결제버튼에 click Event를 할당하세요
                    var elNaverPayBtn = document.getElementById("naverPayBtn");

                    elNaverPayBtn.addEventListener("click", function () {
                        oPay.open({
                            "merchantUserKey": "kairos-link",
                            "merchantPayKey": "kairos",
                            "productName": "<%=concert[0].name%> [ <%=seat%> ]",
                            "totalPayAmount": "<%=price%>",
                            "taxScopeAmount": "<%=price%>",
                            "taxExScopeAmount": "0",
                            "returnUrl": "http://34.64.197.138:3333/concert/regist?concertId=<%=concert[0].id%>&ticketId=<%=seat%>&x=<%=x%>&y=<%=y%>&time_rap=<%=time_rap%>"
                        });
                    });

                </script>
            </div>

        </div>
        <!-- /.pay_wrap-->

    </div>
    <!-- /. body(background css) -->

    <!-- Footer -->
    <footer class="footer">
        <%- include ("../reference/footer.ejs") %>
    </footer>


    <!--결제수단이 여러개로 나뉠때 사용하는 tab 메뉴 스크립트-->
    <script>
        location.href = "#tab1";
    </script>

</body>

</html>