<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../reference/head.ejs") %>
</head>

<body>

    <!-- header gnb -->
    <div class="header">
        <%- include ("../reference/header.ejs") %>
    </div>
    <!-- body(background css) -->
    <div class="body">

        <div class="container-fluid seat-wrap">
            <!--전체 겉 박스-->

            <div class="d-flex reserve_title border-bottom">
                <h2 class="h2-title">좌석선택</h2>
                <div>두산 VS LG  1</div>

                 <!-- 아래 코드는 현재 비활성화 상태(display:none) -->
                 <div class="date-box">
                    <h5>다른날짜보기</h5>
                    <select name="date">
                        <option value="">날짜선택</option>
                        <option value="date1">
                            <%=date%>
                        </option>
                    </select>
                    <select name="time">
                        <option value="">시간 선택</option>
                        <option value="date1">
                            <%=time%>
                        </option>
                    </select>
                </div>
            </div>

            <div class="row article-box border">
                <!--내부 컨텐츠 박스-->

                <div class="left-article-sc">
                    <div class="tab-content text-center" id="v-pills-tabContent">

                        <!--외야석 좌석선택-->
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                            aria-labelledby="v-pills-home-tab">

                            <!--**스포츠 예약 페이지 외야석**-->
                            <h5 class="rect">STARDIUM</h5>

                            <div class="second-wrap">


                                <div class="d-flex flex-column rectangle-wrap-second2">

                                    <div class="sport1-1 input-style ">
                                        <P>외야석은 자유석(비지정석) 입니다.<br>
                                            구매하실 티켓 수량을 선택해 주세요.</P>
                                    </div>

                                    <div class="sport1-2 input-style2 ">
                                        <%for(var i=1; i < 10;i++){%>
                                            <div class="flex">
                                                <input type="radio" name="seat" id="fre<%=i%>" value="<%=i%>">
                                                <label><%=i%>매</label>
                                            </div>
                                        <%}%>
                                        <p>
                                            <label>남은 좌석 수량 :</label>
                                            <input type="text" size="15px">
                                        </p>
                                    </div>
                                    <!--./sport form-box-->

                                </div>
                                <!--**스포츠 예약 페이지 외야석**-->

                            </div>
                        </div>

                        <!--좌측 지정석 좌석선택-->
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                            aria-labelledby="v-pills-profile-tab">
                            <!--**스포츠 예약 페이지 외야석**-->
                            <h5 class="rect">STARDIUM</h5>
                            <div class="second-wrap">


                                <div class="d-flex flex-row rectangle-wrap-second">

                                    <div class="sport2-1 input-style">
                                        <%for(var i=1; i < 101;i++){ for(var j=0; j < ticket.length;j++){
                                            if(ticket[j].seat=='s' +i){ if(ticket[j].state==0){%>
                                                <p style="background:red;" title="red<%=i%>">
                                                    <input type="checkbox" id="red<%=i%>" name="seat" value="s<%=i%>">
                                                    <label for="red<%=i%>"><span>&nbsp;</span></label>
                                                </p>
                                            <%}else{%>
                                                <p style="background:black;" title="red<%=i%>">
                                                    <input type="checkbox" id="red<%=i%>" name="seat" value="s<%=i%>" disabled>
                                                    <label for="red<%=i%>"><span>&nbsp;</span></label>
                                                </p>
                                        <%} } } }%>
                                    </div>
                                    <div class="sport2-2 input-style">
                                        <%for(var i=1; i < 41;i++){ for(var j=0; j <
                                            ticket.length;j++){ if(ticket[j].seat=='r' +i){ if(ticket[j].state==0){%>
                                                <p style="background:skyblue;" title="sky<%=i%>">
                                                    <input type="checkbox" id="sky<%=i%>" name="seat" value="r<%=i%>">
                                                    <label for="sky<%=i%>"><span>&nbsp;</span></label>
                                                </p>
                                            <%}else{%>
                                                <p style="background:black;" title="sky<%=i%>">
                                                    <input type="checkbox" id="sky<%=i%>" name="seat" value="r<%=i%>" disabled>
                                                    <label for="sky<%=i%>"><span>&nbsp;</span></label>
                                                </p>
                                        <%} } } }%>
                                    </div>


                                </div>
                                <div class="d-flex flex-row rectangle-wrap-second">
                                    <div class="sport2-3 input-style">
                                        <%for(var i=51; i < 141;i++){ for(var j=0; j <
                                            ticket.length;j++){ if(ticket[j].seat=='r' +i){ if(ticket[j].state==0){%>
                                                <p style="background:blue;" title="blue<%=i%>">
                                                    <input type="checkbox" id="blue<%=i%>" name="seat" value="a<%=i%>">
                                                    <label for="blue<%=i%>"><span>&nbsp;</span></label>
                                                </p>
                                            <%}else{%>
                                                <p style="background:black;" title="blue<%=i%>">
                                                    <input type="checkbox" id="blue<%=i%>" name="seat" value="a<%=i%>" disabled>
                                                    <label for="blue<%=i%>"><span>&nbsp;</span></label>
                                                </p>
                                        <%} } } }%>
                                    </div>
                                </div>
                                <!--**스포츠 예약 페이지 좌측**-->

                            </div>
                        </div>

                        <!--중앙 프리미엄 좌석선택-->
                        <div class="tab-pane fade" id="v-pills-profile2" role="tabpanel"
                            aria-labelledby="v-pills-profile-tab">
                            <!--**스포츠 예약 페이지 외야석**-->
                            <h5 class="rect">STARDIUM</h5>

                            <div class="second-wrap">

                                <div class="d-flex flex-column rectangle-wrap-second2">

                                    <div class="sport3-1 input-style">
                                        <%for(var i=0; i < hall.seat1;i++){ for(var j=0; j < ticket.length;j++){
                                            if(ticket[j].seat=='vip' +i){ if(ticket[j].state==0){%>
                                                <p style="background:orange;" title="Premium<%=i%>">
                                                    <input type="checkbox" id="Premium<%=i%>" name="seat"
                                                        value="vip<%=i%>">
                                                    <label for="Premium<%=i%>"><span>&nbsp;</span></label>
                                                </p>
                                            <%}else{%>
                                                <p style="background:black;" title="Premium<%=i%>">
                                                    <input type="checkbox" id="Premium<%=i%>" name="seat"
                                                        value="vip<%=i%>" disabled>
                                                    <label for="Premium<%=i%>"><span>&nbsp;</span></label>
                                                </p>
                                        <%} } } }%>
                                    </div>
                                </div>
                                <div class="d-flex flex-column rectangle-wrap-second2">
                                    <div class="sport3-2 input-style">
                                        <%for(var i=1; i < 51;i++){ for(var j=0; j <
                                            ticket.length;j++){ if(ticket[j].seat=='r' +i){ if(ticket[j].state==0){%>
                                                <p style="background:blue;" title="blue<%=i%>">
                                                    <input type="checkbox" id="blue<%=i%>" name="seat" value="a<%=i%>">
                                                    <label for="blue<%=i%>"><span>&nbsp;</span></label>
                                                </p>
                                            <%}else{%>
                                                <p style="background:black;" title="blue<%=i%>">
                                                    <input type="checkbox" id="blue<%=i%>" name="seat" value="a<%=i%>" disabled>
                                                    <label for="blue<%=i%>"><span>&nbsp;</span></label>
                                                </p>
                                        <%} } } }%>
                                    </div>

                                </div>
                                <!--**스포츠 예약 페이지 중앙석**-->

                            </div>
                        </div>

                        <!--우측 지정석 좌석선택-->
                        <div class="tab-pane fade" id="v-pills-profile3" role="tabpanel"
                            aria-labelledby="v-pills-profile-tab">
                            <!--**스포츠 예약 페이지 외야석**-->
                            <h5 class="rect">STARDIUM</h5>

                            <div class="second-wrap">

                                <div class="d-flex flex-row rectangle-wrap-second">

                                    <div class="sport2-2 input-style">
                                        <%for(var i=41; i < 81;i++){ for(var j=0; j <
                                            ticket.length;j++){ if(ticket[j].seat=='r' +i){ if(ticket[j].state==0){%>
                                                <p style="background:skyblue;" title="sky<%=i%>">
                                                    <input type="checkbox" id="sky<%=i%>" name="seat" value="r<%=i%>">
                                                    <label for="sky<%=i%>"><span>&nbsp;</span></label>
                                                </p>
                                            <%}else{%>
                                                <p style="background:black;" title="sky<%=i%>">
                                                    <input type="checkbox" id="sky<%=i%>" name="seat" value="r<%=i%>" disabled>
                                                    <label for="sky<%=i%>"><span>&nbsp;</span></label>
                                                </p>
                                        <%} } } }%>
                                    </div>

                                    <div class="sport2-1 input-style">
                                        <%for(var i=101; i < 201;i++){ for(var j=0; j < ticket.length;j++){
                                            if(ticket[j].seat=='s' +i){ if(ticket[j].state==0){%>
                                                <p style="background:red;" title="red<%=i%>">
                                                    <input type="checkbox" id="red<%=i%>" name="seat" value="s<%=i%>">
                                                    <label for="red<%=i%>"><span>&nbsp;</span></label>
                                                </p>
                                            <%}else{%>
                                                <p style="background:black;" title="red<%=i%>">
                                                    <input type="checkbox" id="red<%=i%>" name="seat" value="s<%=i%>" disabled>
                                                    <label for="red<%=i%>"><span>&nbsp;</span></label>
                                                </p>
                                        <%} } } }%>
                                    </div>

                                </div>

                                <div class="d-flex flex-row rectangle-wrap-second">
                                    <div class="sport2-3 input-style">
                                        <%for(var i=141; i < 231;i++){ for(var j=0; j <
                                            ticket.length;j++){ if(ticket[j].seat=='r' +i){ if(ticket[j].state==0){%>
                                                <p style="background:blue;" title="blue<%=i%>">
                                                    <input type="checkbox" id="blue<%=i%>" name="seat" value="a<%=i%>">
                                                    <label for="blue<%=i%>"><span>&nbsp;</span></label>
                                                </p>
                                            <%}else{%>
                                                <p style="background:black;" title="blue<%=i%>">
                                                    <input type="checkbox" id="blue<%=i%>" name="seat" value="a<%=i%>" disabled>
                                                    <label for="blue<%=i%>"><span>&nbsp;</span></label>
                                                </p>
                                        <%} } } }%>
                                    </div>
                                </div>
                                <!--**스포츠 예약 페이지 좌측**-->

                            </div>
                        </div>

                    </div>
                </div>

                <script>
                    $(document).ready(function () {
                        $('.map_btn2 a:nth-child(1)').click(function () {
                            $(this).parent().css({
                                "background": "url(/img/sport1.gif)",
                                "background-repeat": "no-repeat",
                                "background-position": "center"
                            });

                        });

                        $('.map_btn2 a:nth-child(2)').click(function () {
                            $(this).parent().css({
                                "background": "url(/img/sport2.gif)",
                                "background-repeat": "no-repeat",
                                "background-position": "center"
                            });
                        });

                        $('.map_btn2 a:nth-child(3)').click(function () {
                            $(this).parent().css({
                                "background": "url(/img/sport3.gif)",
                                "background-repeat": "no-repeat",
                                "background-position": "center"
                            });
                        });

                        $('.map_btn2 a:nth-child(4)').click(function () {
                            $(this).parent().css({
                                "background": "url(/img/sport4.gif)",
                                "background-repeat": "no-repeat",
                                "background-position": "center"
                            });
                        });
                    });

                </script>



                <div class="right-article">
                    <form method="POST" action="/concert/payment">

                        
                        <div style="display: none;">
                            <input type="text" id="concertId" name="concertId" value="<%=concert[0].id%>">
                            <input type="text" name="date" value="<%=date%>">
                            <input type="text" name="time" value="<%=time%>">
                            <input type="text" id="n_seat" name="seat">
                            <input type="text" id="n_price" name="price">
                            <input type="text" id="x" name="x">
                            <input type="text" id="y" name="y">
                            <input type="text" id="time_rap" name="time_rap">
                        </div>

                        <!--스포츠좌석 탭메뉴-->
                        <div class="button_box2">

                            <div class="nav me-3 map_btn2" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                                <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home"
                                    role="tab" aria-controls="v-pills-home" aria-selected="true"></a>
                                <a class="nav-link" id="v-pills-content-tab" data-bs-toggle="pill" href="#v-pills-profile"
                                    role="tab" aria-controls="v-pills-profile" aria-selected="false"></a>
                                <a class="nav-link" id="v-pills-content2-tab" data-bs-toggle="pill" href="#v-pills-profile2"
                                    role="tab" aria-controls="v-pills-profile" aria-selected="false"></a>
                                <a class="nav-link" id="v-pills-content3-tab" data-bs-toggle="pill" href="#v-pills-profile3"
                                    role="tab" aria-controls="v-pills-profile" aria-selected="false"></a>
                            </div>

                        </div>

                        <div class="row text-center seat-price-box" style="overflow: hidden;">

                            <!--좌석현황/가격-->
                            <div class="seat-price">

                                <h6>선택좌석안내</h6>
                                <div style="width:100%;overflow:hidden;word-wrap:break-word;" id="seat">선택좌석 화면 표시</div>

                            </div>
                            <div class="seat-price">
                                <ul>
                                    <li id="price">0 원</li>
                                    <li>최종결제금액 : </li>
                                </ul>
                            </div>

                        </div>

                        <div class="row text-center reserve_button">
                            <!--예약하기 취소,새로고침 버튼-->

                            <button type="button" class="btn btn-primary btn-lg" style="font-size:1rem;"
                            onclick="javascript:history.go(-1)">이전단계</button>
                            <button type="submit" class="btn btn-primary btn-lg" style="font-size:1rem;">예약하기</button>

                        </div>
                    </form>
                </div>


            </div>
            <!--./ 내부 컨텐츠 박스-->
        </div>
        <!--./ 전체 겉 박스-->
    </div> 
    <!--/.body-->
    <script>
        var select = [];
        $(document).ready(function () {
            $("input[name=seat]").change(function () {
                var price = 0;
                select = [];
                for (var i = 0; i < 300; i++) {
                    if ($("#Premium" + i).is(":checked")) {
                        select.push($("#Premium" + i).val());
                        price += "<%=concert[0].seat1%>" * 1
                    }
                    if ($("#sky" + i).is(":checked")) {
                        select.push($("#sky" + i).val());
                        price += "<%=concert[0].seat2%>" * 1
                    }
                    if ($("#red" + i).is(":checked")) {
                        select.push($("#red" + i).val());
                        price += "<%=concert[0].seat3%>" * 1
                    }
                    if ($("#blue" + i).is(":checked")) {
                        select.push($("#blue" + i).val());
                        price += "<%=concert[0].seat4%>" * 1
                    }
                    if ($("#fre" + i).is(":checked")) {
                        select.push("자유석" + $("#fre" + i).val()+"매");
                        price += "<%=concert[0].seat5%>" * $("#fre" + i).val()
                    }
                }
                

                // alert(select.sort());
                console.log("price = ", price);
                $("#seat").html(select.sort());
                $("#price").html(price + "원");
                $("#n_seat").val(select.sort());
                $("#n_price").val(price);
            });

        });
    </script>




    <!-- Footer -->
    <footer class="footer">
        <%- include ("../reference/footer.ejs") %>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>