<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../reference/head.ejs") %>
    <%- include ("../reference/click.ejs") %>

    <script>
        function info(concert, name){
            console.log("info suc")
            console.log("index_1 name = ",name)
            location.href = "/concert/index?concert="+concert+"&x="+x+"&y="+y+"&time="+time+"&name="+name;
        }
    </script>
</head>

<body>



    <div class="header">
        <%- include ("../reference/header.ejs") %>
    </div>


    <div class="container border" style="margin-top:2rem;">
        <!--전체 겉 박스-->

        <div class="row d-flex reserve_title border-bottom">
            <h2 class="col-3 h2-title">좌석선택</h2>
            <div class="col"><%=concertId%></div>
        </div>
        <form method="POST" action="/concert/payment">
            <div class="row">
                <!--내부 컨텐츠 박스-->

                <div class="col-md-8">
                    <div class="tab-content text-center" id="v-pills-tabContent">

                        <!--1층 좌석선택-->
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <table class="table">
                                <div class="td-title">
                                    <h5>screen</h5>
                                </div>

                                <tbody class="td-body">
                                    <tr>
                                        <th>A</th>
                                        <td><a hef="#" style="background:gray;cursor:none;">X</a></td>
                                        <td><a hef="#">2</a></td>
                                        <td><a hef="#">3</a></td>
                                        <td><a hef="#">4</a></td>
                                        <td><a hef="#">5</a></td>
                                        <td><a hef="#">6</a></td>
                                        <td><a hef="#">7</a></td>
                                        <td><a hef="#">8</a></td>
                                        <td><a hef="#">9</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div >
                    <input type="text" id="concertId" name="concertId" value="<%=concertId%>">
                    <input type="text" id="x" name="x">
                    <input type="text" id="y" name="y">
                    <input type="text" id="time_rap" name="time_rap">
                </div>

                <div class="col-md-4">
                    <!--자리선택 버튼 / 1층 2층 3층-->
                    <div class="row button_box">
                        <div class="d-flex align-items-start" style="height:140px; margin:0 auto;">
                            <div class="nav flex-column nav-pills me-3 map_btn" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="margin: 0 auto;">
                                <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">1층</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">2층</a>
                                <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">3층</a>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <!--좌석현황/가격-->
                        <div class="col-12 price">
                            좌석가격
                        </div>

                    </div>
                    <div class="row text-center reserve_button">
                        <!--예약하기 취소,새로고침 버튼-->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-lg">예약하기</button>
                        </div>

                        <div class="col-12 ">
                            <button type="button" class="btn btn-secondary btn-sm" onclick="window.location.href='/'">취소하기</button>
                            <button type="button" class="btn btn-secondary btn-sm" onclick="window.location.reload()">새로고침</a></button>
                        </div>

                    </div>
                </div>


            </div>
        <!--./ 내부 컨텐츠 박스-->
        </form>
    </div>
    <!--./ 전체 겉 박스-->






    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>