<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../reference/head.ejs") %>
</head>
<script>
    function did(ticket){
        location.href("/did2?ticket="+ticket)
        //alert(ticket);
    }
</script>
<body>

    <!-- header gnb -->
    <div class="header">
        <%- include ("../reference/header.ejs") %>
    </div>

    <!-- body(background css) -->
    <div class="body">

        <!-- 티켓지갑 wrap -->
        <div class="mypage-wrap">

            <div class="mypage-title">
                <div class="mypage-title-box">
                    <h5 class="mypage-h5">티켓 지갑</h5>
                </div>
            </div>

            <div class="mypage-body">
                <h6>마이티켓</h6>
                <%if(ticket.length> 0) {
                    for(var i=0;i < ticket.length; i++){%>
                        <div class="mypage-ticket-box">
                            <%if(wallet){%>
                            <a href="/ticket/ticket_info?ticket=<%=ticket[i].ticketId%>">
                            <%}else{%>
                            <a href="javascript:did('<%=ticket[i].ticketId%>');">
                            <%}%>
                                <div class="mypage-ticket-img">
                                    <div><img src="<%=ticket[i].poster_img%>" alt="img"></div>
                                </div>
                                <div class="mypage-ticket-intro">
                                    <ul>
                                        <li>
                                            <%=ticket[i].c_name%>
                                        </li>
                                        <li>
                                            <%=ticket[i].date.slice(0,4)+"년"+ticket[i].date.slice(4,6)+"월"+ticket[i].date.slice(6,8)+"일"%>
                                        </li>
                                        <li>
                                            <%=ticket[i].place%>
                                        </li>
                                        <li>
                                            <%=ticket[i].seat%>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <%} } else {%>
                            <div class="mypage-ticket-box2">
                                <div class="mypage-ticket-intro2">
                                    <p>보유한 티켓이 존재 하지 않습니다.</p>
                                </div>
                            </div>
                            <%}%>

                                <h6 class="ticket_us">사용한 티켓</h6>
                                <%if(ticket_used.length> 0){
                                    for(var i=0;i < ticket_used.length; i++){%>
                                        <div class="mypage-ticket-box">
                                            <a href="/ticket/ticket_info?ticket=<%=ticket_used[i].ticketId%>">
                                                <div class="mypage-ticket-img">
                                                    <div><img src="<%=ticket_used[i].poster_img%>" alt="img"></div>
                                                </div>
                                                <div class="mypage-ticket-intro">
                                                    <ul>
                                                        <li>
                                                            <%=ticket_used[i].c_name%>
                                                        </li>
                                                        <li>
                                                            <%=ticket_used[i].date.slice(0,4)+"년"+ticket_used[i].date.slice(4,6)+"월"+ticket_used[i].date.slice(6,8)+"일"%>
                                                        </li>
                                                        <li>
                                                            <%=ticket_used[i].place%>
                                                        </li>
                                                        <li>
                                                            <%=ticket_used[i].seat%>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </div>
                                        <%} } else {%>
                                            <div class="mypage-ticket-box2">
                                                <div class="mypage-ticket-intro2">
                                                    <p>보유한 티켓이 존재 하지 않습니다.</p>
                                                </div>
                                            </div>
                                            <%}%>
            </div>

        </div>
        <!-- 티켓지갑 wrap -->

    </div>
    <!-- /.body(background css) -->

    <!-- Footer -->
    <footer class="footer">
        <%- include ("../reference/footer.ejs") %>
    </footer>

</body>

</html>