<!DOCTYPE html>
<html lang="en">

<head>

    <%- include ("../reference/head.ejs") %>
</head>

<body>

    <div class="header" style="background:tan;">
        <%- include ("../reference/header.ejs") %>
    </div>
    <div class="mypage-wrap">
        
        <div class="mypage-title">
            <div class="mypage-title-box">
                <h5 class="mypage-h5">티켓 지갑</h5>
            </div>
        </div> 
         
            <div class="mypage-body">
                <h6>마이티켓</h6>
                <%for(var i=0;i < ticket.length; i++){%>
                <div class="mypage-ticket-box">
                   <a href="/ticket/ticket_info?ticket=<%=ticket[i].ticketId%>">
                        <div class="mypage-ticket-img">
                            <div><img src="<%=ticket[i].poster_img%>" alt="img"></div>
                        </div>
                        <div class="mypage-ticket-intro">
                            <ul>
                                <li><%=ticket[i].c_name%></li>
                                <li><%=ticket[i].date%></li>
                                <li><%=ticket[i].place%></li>
                                <li><%=ticket[i].seat%></li>
                            </ul>
                        </div>
                   </a>
                </div>
                <%}%>  
                    
                     
            </div><!--./mypage-body-->
        
        
    </div>
    

</body>

</html>